body {
    text-align: center;
    font-family: 'Martian Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #132043;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 69px; /*xd nice*/
}

.item {
    margin: 20px;
    text-align: center;
    position: relative;
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s, border 0.3s;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 10px; 
}

.item:hover .image {
    transform: scale(1.1);
}

.button {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    background-color: white;
    border: 2px solid #0074d9;
    color: #0074d9;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, top 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: #0074d9;
    color: white;
}

.description {
    margin-top: 40px;
    border: 2px solid #0074d9;
    padding: 10px;
    border-radius: 4px;
    color: white;
    position: relative;
}

.button-green {
    background-color: green;
    color: white;
}

.button-blue {
    background-color: blue;
    color: white;
}

.button-orange {
    background-color: orange;
    color: white;
}

.button-purple {
    background-color: purple;
    color: white;
}

a {
    text-decoration: none;
}

.page-title {
    font-family: 'Martian Mono', monospace;
    font-size: 50px;
    margin: 20px 0;
    color: #F6FDC3;
    text-align: center;
}

.fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.fullscreen-container:hover .fullscreen-image {
    transform: scale(1.5);
}
